/*
    Author: Samuel A. Matheson
    Email:samuelmatheson15@gmail.com
*/

@keyframes stretch {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

.dark {
    --background-color: rgb(0, 0, 0);
    --background-color-06:rgba(0, 0, 0, 0.6);
    --text-color: rgb(255, 255, 255);
    --accent: hsl(110, 100%, 50%);
}

.light {
    --background-color: rgb(255, 255, 255);
    --background-color-06:rgba(255, 255, 255, 0.6);
    --text-color: rgb(0, 0, 0);
    --accent: hsl(200, 100%, 50%);
}

/*   Type 1 notification   */
.notification_style1 {
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    height: 20vh;
    width: 20vw;
    transform: translate(20vw, 0vh);
    overflow: hidden;
    cursor: pointer;
    transition: transform 500ms, box-shadow 200ms, opacity 300ms;
    border-top: 0.5vh solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0vh 0vh 0.5vh 0vh var(--text-color);
}

.notification_style1:hover,
.notification_style2:hover,
.notification_style3:hover,
.notification_style4:hover {
    box-shadow: 0vh 0vh 2vh 0vh var(--text-color);
}

.notification_style1 .title {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 5.5vh;
    font-size: 4.5vh;
    text-align: center;
    white-space: nowrap;
    cursor: inherit;
    border-bottom: 0.25vh solid var(--text-color)
}

.notification_style1 .title::before {
    position: absolute;
    transform: translate(0, 100%);
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 0.5vh;
    animation: stretch 11000ms;
    content: "";
    cursor: inherit;
    background-color: var(--text-color)
}

.notification_style1 .notifbody {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    padding: 0.5vh 0.5vw;
    height: 13vh;
    font-size: 2.5vh;
    overflow: hidden;
    cursor: inherit;
}

/*   Type 2 notification   */
.notification_style2 {
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    height: 15vh;
    width: 25vw;
    transform: translate(30vw, 0vh);
    border-top: none;
    overflow: hidden;
    cursor: pointer;
    transition: transform 500ms, box-shadow 200ms, opacity 300ms;
    border-left: 0.5vw solid var(--accent);
    border-top: none;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0vh 0vh 0.5vh 0vh var(--text-color);
}

.notification_style2 .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.5vh;
    font-size: 4.5vh;
    padding-left: 1vw;
    text-align: left;
    white-space: nowrap;
    cursor: inherit;
}

.notification_style2 .title::before {
    position: absolute;
    transform: translate(0, 100%);
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 0.5vh;
    animation: stretch 11000ms;
    content: "";
    cursor: inherit;
    background-color: var(--text-color)
}


.notification_style2 .notifbody {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    padding: 0.5vh 0.5vw;
    height: 8.5vh;
    font-size: 2.5vh;
    overflow: hidden;
    cursor: inherit;
}

/*   Type 3 notification   */
.notification_style3 {
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    height: 15vh;
    width: 25vw;
    transform: translate(30vw, 0vh);
    border-top: none;
    overflow: hidden;
    cursor: pointer;
    transition: transform 500ms, box-shadow 200ms, opacity 300ms;
    border-left: 0.5vw solid var(--accent);
    border-top: none;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0vh 0vh 0.5vh 0vh var(--text-color);
}

.notification_style3 .title {
    position: absolute;
    top: 0;
    right: 4vh;
    width: calc(100% - 4vh);
    height: 5.5vh;
    font-size: 4.5vh;
    padding-right: 1vw;
    text-align: right;
    white-space: nowrap;
    cursor: inherit;
}

.notification_style3 .title::after {
    /* imgae */
    position: absolute;
    top: 0;
    left: 1.2vw;
    height: 5.5vh;
    width: 5.5vh;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    cursor: inherit;
    background-image: url('Logo.png');
}

.notification_style3 .title::before {
    /*prograss bar*/
    position: absolute;
    transform: translate(0, 100%);
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 0.5vh;
    animation: stretch 11000ms;
    content: "";
    cursor: inherit;
    background-color: var(--text-color)
}

.notification_style3 .notifbody {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    padding: 0.5vh 0.5vw;
    height: 8.5vh;
    font-size: 2.5vh;
    overflow: hidden;
    cursor: inherit;
}

/*   Type 4 notification   */
.notification_style4 {
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    height: 20vh;
    width: 20vw;
    transform: translate(20vw, 0vh);
    overflow: hidden;
    cursor: pointer;
    transition: transform 500ms, box-shadow 200ms, opacity 300ms;
    background-color: var(--background-color-06);
    color: var(--text-color);
    box-shadow: 0vh 0vh 0.5vh 0vh var(--text-color);
}

.notification_style4 .title {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 5.5vh;
    font-size: 4.5vh;
    text-align: center;
    white-space: nowrap;
    cursor: inherit;
}

.notification_style4 .title::before {
    position: absolute;
    transform: translate(0, 0vh);
    top: 0;
    left: 0;
    z-index: 99;
    height: 0.5vh;
    animation: stretch 11000ms;
    content: "";
    cursor: inherit;
    background-color: var(--text-color)
}

.notification_style4 .notifbody {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    padding: 0.5vh 0.5vw;
    height: 13vh;
    font-size: 2.5vh;
    overflow: hidden;
    cursor: inherit;
}

/* X button */
.x-button {
    height: 4vh;
    width: 4vh;
    position: absolute;
    top: 0;
    right: 0;
}

.x-button::before,
.x-button::after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0.4vh;
    content: "";
    background-color: #f00;
    border-radius: 0.5vh;
    transition: transform 300ms, box-shadow 200ms;
}

.x-button::before {
    /*Left */
    right: 1.8vh;
    transform: rotate(-45deg);
}

.x-button::after {
    /*Right */
    left: 1.8vh;
    transform: rotate(45deg);
}


.x-button:hover::before {
    transform: rotate(-230deg);
}

.x-button:hover::after {
    transform: rotate(230deg);
}

.x-button:hover::before,
.x-button:hover::after {
    box-shadow: 0vh 0vh 1vh 0vh var(--text-color);
}
